* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $font-family--secondary;
}

html,
body,
main {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

input:disabled,
select:disabled,
textarea:disabled,
button:disabled {
  cursor: not-allowed;
}